openapi: 3.2.0
info:
  version: v1
  title: Lucidya Social Listening Public Public APIs - Social Listening - Base APIs API
  description: 'This is the Public API Reference for the Social Listening Product. Use our Social Listening Endpoints to integrate with your product. '
  termsOfService: https://lucidya.com/service-agreement/
  contact:
    name: Lucidya Support
    url: https://lucidya.com/
    email: customer.support@lucidya.com
servers:
- url: https://api.lucidya.com
  description: Production
tags:
- name: Public APIs - Social Listening - Base APIs
paths:
  /widgets:
    get:
      tags:
      - Public APIs - Social Listening - Base APIs
      summary: Social Listening - Base APIs
      description: This endpoint enanles you to get all widgets from your account.
      operationId: Widgets
      parameters:
      - name: luc-authorization
        in: header
        description: The API authorization token for the request.
        required: true
        schema:
          type: string
      - name: monitor_id
        in: query
        description: The ID of the monitor being used.
        required: true
        schema:
          type: integer
          example: 7709
        examples:
          default:
            value: 7709
      - name: product_id
        in: query
        description: The ID of the product being monitored.
        required: true
        schema:
          type: integer
          example: 1
        examples:
          default:
            value: 1
      - name: page_name
        in: query
        description: The name of the page being monitored.
        required: true
        schema:
          type: string
          example: account_page
        examples:
          default:
            value: account_page
      - name: data_source
        in: query
        description: The data source being used for monitoring.
        required: true
        schema:
          type: string
          example: twitter
        examples:
          default:
            value: twitter
      responses:
        '200':
          description: successful operation
          content:
            example_0:
              examples:
                example_0:
                  value:
                    data:
                      data_source: twitter
                      widgets_names:
                      - volume_overtime
                      - interactions
                      - sentiment_analysis
                      - reach_funnel
                      - content_style
                      - associated_topics
                      - top_keywords
                      - top_hashtags
                      - top_images
                      - top_videos
                      - top_languages
                      - dialects_subdialects
                      - top_countries
                      - top_cities
                      - gender_distribution
                      - account_types
                      - top_engagers
                      - top_sources
                      - top_verified_engagers
                      - top_influencers
                      company_time_zone: 3
                      page_name: engagements
                      monitor_id: 1234
                      monitor_name: dummy monitor
        '400':
          description: failure of getting data due to missing params
          content:
            example_0:
              examples:
                example_0:
                  value:
                    error:
                      status: 400
                      detail: WRONG_REQUEST_PARAMETERS
        '401':
          description: missing_API_key
          content:
            example_0:
              examples:
                example_0:
                  value:
                    message: No API key found in request
            example_1:
              examples:
                example_0:
                  value:
                    message: Invalid authentication credentials
        '403':
          description: not_authorized
        '404':
          description: Page Not Found or Monitor Not Found
          content:
            example_0:
              examples:
                example_0:
                  value:
                    error:
                      source: {}
                      status: 404
                      detail: PAGE_NOT_FOUND
            example_1:
              examples:
                example_0:
                  value:
                    error:
                      status: 404
                      detail: Couldn't find MonitorModel with 'id'=1235
        '429':
          description: too_many_requests
          content:
            example_0:
              examples:
                example_0:
                  value:
                    message: API rate limit exceeded
        '500':
          description: internal_server_error
        '503':
          description: service_unavailable
        '504':
          description: request_timeout
      servers:
      - url: https://api.lucidya.com
        description: Production
  /filters:
    get:
      tags:
      - Public APIs - Social Listening - Base APIs
      summary: Social Listening - Base APIs
      description: This endpoint enables you to apply filters for specific monitor data.
      operationId: filters
      parameters:
      - name: luc-authorization
        in: header
        description: The API authorization token for the request.
        required: true
        schema:
          type: string
      - name: monitor_id
        in: query
        description: The ID of the monitor being used.
        required: true
        schema:
          type: integer
          example: 7709
        examples:
          default:
            value: 7709
      - name: data_source
        in: query
        description: The data source being used for monitoring.
        required: true
        schema:
          type: string
          example: twitter
        examples:
          default:
            value: twitter
      - name: product_id
        in: query
        description: The ID of the product being monitored.
        required: true
        schema:
          type: integer
          example: 1
        examples:
          default:
            value: 1
      - name: page_name
        in: query
        description: The name of the page being monitored.
        required: true
        schema:
          type: string
          example: account_page
        examples:
          default:
            value: account_page
      responses:
        '200':
          description: Return all filters for a specific data_source Page
          content:
            example_0:
              examples:
                example_0:
                  value:
                    data:
                    - name: sentiment
                      selection_attribute: checkbox-labels
                      content_source: static_content
                      placeholder: 'null'
                      locale_source: 'null'
                      default_value: 'null'
                      priority: '1'
                      options:
                      - value: '1'
                        color: green
                        label: Positive
                      - value: '0'
                        color: red
                        label: Negative
                      - value: 2,3
                        color: yellow
                        label: Neutral
        '401':
          description: missing_API_key
          content:
            example_0:
              examples:
                example_0:
                  value:
                    message: No API key found in request
            example_1:
              examples:
                example_0:
                  value:
                    message: Invalid authentication credentials
        '403':
          description: not_authorized
        '404':
          description: Page Not Found or Monitor Not Found
          content:
            example_0:
              examples:
                example_0:
                  value:
                    error:
                      source: {}
                      status: 404
                      detail: PAGE_NOT_FOUND
            example_1:
              examples:
                example_0:
                  value:
                    error:
                      status: 404
                      detail: Couldn't find MonitorModel with 'id'=1235
        '429':
          description: too_many_requests
          content:
            example_0:
              examples:
                example_0:
                  value:
                    message: API rate limit exceeded
        '500':
          description: internal_server_error
        '503':
          description: service_unavailable
        '504':
          description: request_timeout
      servers:
      - url: https://api.lucidya.com
        description: Production
  /pages:
    get:
      tags:
      - Public APIs - Social Listening - Base APIs
      summary: Social Listening - Base APIs
      description: This endpoint enables you to get specific page data from your account.
      operationId: pages
      parameters:
      - name: luc-authorization
        in: header
        description: The API authorization token for the request.
        required: true
        schema:
          type: string
      - name: monitor_id
        in: query
        description: The ID of the monitor being used.
        required: true
        schema:
          type: integer
          example: 7709
        examples:
          default:
            value: 7709
      - name: data_source
        in: query
        description: The data source being used for monitoring.
        required: true
        schema:
          type: string
          example: twitter
        examples:
          default:
            value: twitter
      responses:
        '200':
          description: Return all filters for a specific data_source Page
          content:
            example_0:
              examples:
                example_0:
                  value:
                    data:
                      pages_name:
                      - engagements
        '401':
          description: missing_API_key
          content:
            example_0:
              examples:
                example_0:
                  value:
                    message: No API key found in request
            example_1:
              examples:
                example_0:
                  value:
                    message: Invalid authentication credentials
        '403':
          description: not_authorized
        '404':
          description: Page Not Found or Monitor Not Found
          content:
            example_0:
              examples:
                example_0:
                  value:
                    error:
                      status: 404
                      detail: Couldn't find MonitorModel with 'id'=12354443
        '429':
          description: too_many_requests
          content:
            example_0:
              examples:
                example_0:
                  value:
                    message: API rate limit exceeded
        '500':
          description: internal_server_error
        '503':
          description: service_unavailable
        '504':
          description: request_timeout
      servers:
      - url: https://api.lucidya.com
        description: Production
x-internal: false
