openapi: 3.2.0
info:
  version: 1.0.0
  title: CDP (Customer Data Platform) Profiles API
  description: "This document serves as the \U0001F4D8 comprehensive API guide for \U0001F50C integrating your product(s) with the Lucidya **Customer Data Platform (CDP)** via **RESTful** endpoints.\n\n\U0001F50D Explore how to seamlessly connect your offerings with our platform to leverage customer data insights and profiles.\n\nMethod | Endpoint | Description\n-------|----------|---------\n `GET` | **[Get Filters](https://docs.lucidya.com/docs/cdp-api/branches/main/7k92xwdm05e0i-get-filters)** | Reterive a list of all available filters on your account.\n `GET` | **[Get Profile List](https://docs.lucidya.com/docs/cdp-api/branches/main/3mjmoshm1vmcu-get-a-list-of-all-profiles)** | Reterive a list of all available customer profiles.\n `GET` | **[Get Profile by Id](https://docs.lucidya.com/docs/cdp-api/branches/main/b0aykazg3489q-get-custom-profile-data-by-id)** | Reterive a specific customer profile data by `profile_id`.\n `POST`| **[Create Profile](https://docs.lucidya.com/docs/cdp-api/c2d0471ce7599-create-profile)** | Create a new CDP profile by adding the profile information.\n `PUT` | **[Update Profile](https://docs.lucidya.com/docs/cdp-api/10c0d3000016a-update-profile)** | Update the information for a specific profile.\n `GET` | **[Get Survey data by Profile Id](https://docs.lucidya.com/docs/cdp-api/branches/main/zb4668e65pnoz-retrieve-survey-data-for-a-specific-profile-using-its-id)** | Reterive a data of all survey(ies) for specific customer by `profile_id`.\n `POST`| **[Create Interaction Profile](https://docs.lucidya.com/docs/cdp-api/branches/main/2kqwzyyvxixnr-create-interaction-profile)** | Create an interaction profile to get the `job_id`.\n `GET` | **[Get Interaction Profile](https://docs.lucidya.com/docs/cdp-api/branches/main/m7c5hv4h94339-get-interaction-profile-by-id)** | Reterive an interaction profile by `job_id` and `profile_id`.\n `GET` | **[Get Segments List](https://docs.lucidya.com/docs/cdp-api/6c947c3eaec37-paginated-segments-list)** | Retrieve a paginated list of segments associated with your account.\n `PUT` | **[Append Profile(s) to Segment](https://docs.lucidya.com/docs/cdp-api/ec7081a06df11-append-profile-s-into-segment)** | Add selected profiles to the segment.\n `DELETE` | **[Delete Profile(s) from Segment](https://docs.lucidya.com/docs/cdp-api/a0ac3ea7ae575-delete-profile-s-from-segment)** | Remove selected profiles from the segment.\n\n[\U0001F393 Learn more about Lucidya CDP](https://lucidya.com/product/audience/)."
  termsOfService: https://lucidya.com/service-agreement/
  contact:
    name: Lucidya
    url: https://lucidya.com/
    email: customer.support@lucidya.com
  license:
    url: ''
    name: ''
servers:
- url: https://api.lucidya.com
  description: Production Server
tags:
- name: Profiles
paths:
  /profiles:
    get:
      tags:
      - Profiles
      summary: Get a list of all profiles
      description: 'This **Critical Endpoint** grants access to a detailed list, encompassing every profile along with the data specific to each one.


        This endpoint will retrieve a list of **profile IDs**. To fetch detailed information for a specific user (customer) using their ID, please refer to [get profile data by Id endpoint](https://docs.lucidya.com/docs/cdp-api/branches/main/b0aykazg3489q-get-custom-profile-data-by-id).


        <!-- theme: success -->

        > #### 🔢 Pagination

        >

        > This endpoint enables pagination by using a `page` parameter, which is included in the request query parameters.


        You can obtain a summary of data for each profile as follows:


        - **Information**: This field consists of an array containing key details of the customer profile, such as `profile_image_url`, `identifier`, `name`, and `identifier_source`.

        - **Segments**: This field is an array that encompasses all the segments associated with the customer.

        - **Sources**: This field comprises an array detailing all the data sources linked to the customer, such as X, TikTok.

        - **Completeness_Rate (%)**: This object offers a metric evaluating the completeness of the customer''s profile data. A higher rate indicates a richer and more detailed set of details and insights about the customer.

        '
      operationId: getProfileList
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: 'This is utilized to add a `page number` for the subsequent payload. You can find the `"total_pages": 3` attribute on the first payload.'
        schema:
          type: integer
          example: '1'
        examples:
          default:
            value: '1'
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example, `1709164800`.
        required: true
        schema:
          type: integer
          example: '1709164800'
        examples:
          default:
            value: '1709164800'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example, `1710460799`.
        required: true
        schema:
          type: integer
          example: '1710460799'
        examples:
          default:
            value: '1710460799'
      responses:
        '200':
          description: "```json\n{\n    \"profiles_count\": 42,\n    \"total_pages\": 3,\n    \"data\": [\n        {\n            \"id\": 46514,\n            \"created_at\": 1709221862.858634,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1641818042135990274/jfBeVJse.jpg\",\n                \"identifier\": \"harbi_nh\",\n                \"name\": \"harbi_nh\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 12,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1713685693.7298\n        },\n        {\n            \"id\": 46528,\n            \"created_at\": 1709837412.863016,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1687712564476510208/jciYGNSg.jpg\",\n                \"identifier\": \"nauatech\",\n                \"name\": \"nauatech\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 16,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1712347713.912426\n        },\n        {\n            \"id\": 46529,\n            \"created_at\": 1709837529.326066,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1723388701152104448/dqZmgD0_.jpg\",\n                \"identifier\": \"RedaBanjar\",\n                \"name\": \"RedaBanjar\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 20,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1712347682.882938\n        },\n        {\n            \"id\": 46560,\n            \"created_at\": 1710457703.129456,\n            \"information\": {\n                \"profile_image_url\": \"http://pbs.twimg.com/profile_images/1681974875546849280/4xUDoT7I.jpg\",\n                \"identifier\": \"ishemb1\",\n                \"name\": \"ishemb1\",\n                \"identifier_source\": \"TWITTER_DM\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER_DM\"\n            ],\n            \"completeness_rate\": 12,\n            \"status\": \"CREATE\",\n            \"updated_at\": 1710457703.129456\n        },\n        {\n            \"id\": 46559,\n            \"created_at\": 1710371745.646675,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1748293112592506880/RajX_jut.jpg\",\n                \"identifier\": \"A_dkhe\",\n                \"name\": \"A_dkhe\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 20,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710433419.15248\n        },\n        {\n            \"id\": 46558,\n            \"created_at\": 1710330249.484066,\n            \"information\": {\n                \"profile_image_url\": \"\",\n                \"identifier\": \"+966552255328\",\n                \"name\": \"+966552255328\",\n                \"identifier_source\": \"GENESYS\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"GENESYS\"\n            ],\n            \"completeness_rate\": 25,\n            \"status\": \"CREATE\",\n            \"updated_at\": 1710330249.484066\n        },\n        {\n            \"id\": 46557,\n            \"created_at\": 1710328366.09664,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/475363538362318848/itgdT5vY.jpeg\",\n                \"identifier\": \"MobileMovieMag\",\n                \"name\": \"MobileMovieMag\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 12,\n            \"status\": \"CREATE\",\n            \"updated_at\": 1710328366.09664\n        },\n        {\n            \"id\": 46556,\n            \"created_at\": 1710321877.849583,\n            \"information\": {\n                \"profile_image_url\": \"\",\n                \"identifier\": \"+966557699709\",\n                \"name\": \"+966557699709\",\n                \"identifier_source\": \"WHATSAPP\"\n            },\n            \"segments\": [\n                {\n                    \"id\": 54,\n                    \"name\": \"all-87\"\n                },\n                {\n                    \"id\": 62,\n                    \"name\": \"test2seg\"\n                }\n            ],\n            \"sources\": [\n                \"WHATSAPP\",\n                \"GENESYS\"\n            ],\n            \"completeness_rate\": 25,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710321880.381794\n        },\n        {\n            \"id\": 46555,\n            \"created_at\": 1710230346.803391,\n            \"information\": {\n                \"profile_image_url\": \"\",\n                \"identifier\": \"\",\n                \"name\": \"\",\n                \"identifier_source\": \"\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"SURVEY\"\n            ],\n            \"completeness_rate\": 30,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710230353.429028\n        },\n        {\n            \"id\": 46551,\n            \"created_at\": 1710230279.340787,\n            \"information\": {\n                \"profile_image_url\": \"\",\n                \"identifier\": \"\",\n                \"name\": \"\",\n                \"identifier_source\": \"\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"SURVEY\"\n            ],\n            \"completeness_rate\": 15,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710230283.10462\n        },\n        {\n            \"id\": 46549,\n            \"created_at\": 1710230262.580511,\n            \"information\": {\n                \"profile_image_url\": \"\",\n                \"identifier\": \"\",\n                \"name\": \"\",\n                \"identifier_source\": \"\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"SURVEY\"\n            ],\n            \"completeness_rate\": 15,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710230266.338491\n        },\n        {\n            \"id\": 46544,\n            \"created_at\": 1709924008.723147,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1601647021688967169/4VK_gA82.jpg\",\n                \"identifier\": \"awadallah\",\n                \"name\": \"awadallah\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 14,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710101604.616023\n        },\n        {\n            \"id\": 46543,\n            \"created_at\": 1709923822.396281,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1580039594778578944/MlHtGTxp.jpg\",\n                \"identifier\": \"vectara\",\n                \"name\": \"vectara\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 14,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710100826.705523\n        },\n        {\n            \"id\": 46531,\n            \"created_at\": 1709854600.435535,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/378800000258465691/5e0c7fe16051992884eb2af468c39373.jpeg\",\n                \"identifier\": \"bernardmoon\",\n                \"name\": \"bernardmoon\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 16,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710087745.36858\n        },\n        {\n            \"id\": 46547,\n            \"created_at\": 1710084300.778945,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1377214755526557699/e6p0GXme.jpg\",\n                \"identifier\": \"MohammedGhorab2\",\n                \"name\": \"MohammedGhorab2\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 14,\n            \"status\": \"CREATE\",\n            \"updated_at\": 1710084300.778945\n        },\n        {\n            \"id\": 46546,\n            \"created_at\": 1710055334.881383,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1621883161742303234/lBVaqlBb.jpg\",\n                \"identifier\": \"alneyazi\",\n                \"name\": \"alneyazi\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 12,\n            \"status\": \"CREATE\",\n            \"updated_at\": 1710055334.881383\n        },\n        {\n            \"id\": 46530,\n            \"created_at\": 1709852894.873228,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1028143624947556352/_V4KGVz7.jpg\",\n                \"identifier\": \"sparklabsgroup\",\n                \"name\": \"sparklabsgroup\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 16,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1710054741.806721\n        },\n        {\n            \"id\": 46545,\n            \"created_at\": 1709948502.204857,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1746640245158727680/A0py0xgn.jpg\",\n                \"identifier\": \"B_BaderH\",\n                \"name\": \"B_BaderH\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 18,\n            \"status\": \"CREATE\",\n            \"updated_at\": 1709948502.204857\n        },\n        {\n            \"id\": 46542,\n            \"created_at\": 1709908294.964243,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1658909947025924108/kl5WbjWk.jpg\",\n                \"identifier\": \"SpirosMargaris\",\n                \"name\": \"SpirosMargaris\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 16,\n            \"status\": \"UPDATE\",\n            \"updated_at\": 1709908364.028899\n        },\n        {\n            \"id\": 46541,\n            \"created_at\": 1709904659.541819,\n            \"information\": {\n                \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1765195335763099648/OyeLG6YG.jpg\",\n                \"identifier\": \"EvanJohnso63180\",\n                \"name\": \"EvanJohnso63180\",\n                \"identifier_source\": \"TWITTER\"\n            },\n            \"segments\": [],\n            \"sources\": [\n                \"TWITTER\"\n            ],\n            \"completeness_rate\": 15,\n            \"status\": \"CREATE\",\n            \"updated_at\": 1709904659.541819\n        }\n    ]\n}\n```"
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    profiles_count: 42
                    total_pages: 3
                    data:
                    - id: 46514
                      created_at: 1709221862.858634
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1641818042135990274/jfBeVJse.jpg
                        identifier: harbi_nh
                        name: harbi_nh
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 12
                      status: UPDATE
                      updated_at: 1713685693.7298
                    - id: 46528
                      created_at: 1709837412.863016
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1687712564476510208/jciYGNSg.jpg
                        identifier: nauatech
                        name: nauatech
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 16
                      status: UPDATE
                      updated_at: 1712347713.912426
                    - id: 46529
                      created_at: 1709837529.326066
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1723388701152104448/dqZmgD0_.jpg
                        identifier: RedaBanjar
                        name: RedaBanjar
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 20
                      status: UPDATE
                      updated_at: 1712347682.882938
                    - id: 46560
                      created_at: 1710457703.129456
                      information:
                        profile_image_url: http://pbs.twimg.com/profile_images/1681974875546849280/4xUDoT7I.jpg
                        identifier: ishemb1
                        name: ishemb1
                        identifier_source: TWITTER_DM
                      segments: []
                      sources:
                      - TWITTER_DM
                      completeness_rate: 12
                      status: CREATE
                      updated_at: 1710457703.129456
                    - id: 46559
                      created_at: 1710371745.646675
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1748293112592506880/RajX_jut.jpg
                        identifier: A_dkhe
                        name: A_dkhe
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 20
                      status: UPDATE
                      updated_at: 1710433419.15248
                    - id: 46558
                      created_at: 1710330249.484066
                      information:
                        profile_image_url: ''
                        identifier: '+966552255328'
                        name: '+966552255328'
                        identifier_source: GENESYS
                      segments: []
                      sources:
                      - GENESYS
                      completeness_rate: 25
                      status: CREATE
                      updated_at: 1710330249.484066
                    - id: 46557
                      created_at: 1710328366.09664
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/475363538362318848/itgdT5vY.jpeg
                        identifier: MobileMovieMag
                        name: MobileMovieMag
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 12
                      status: CREATE
                      updated_at: 1710328366.09664
                    - id: 46556
                      created_at: 1710321877.849583
                      information:
                        profile_image_url: ''
                        identifier: '+966557699709'
                        name: '+966557699709'
                        identifier_source: WHATSAPP
                      segments:
                      - id: 54
                        name: all-87
                      - id: 62
                        name: test2seg
                      sources:
                      - GENESYS
                      - WHATSAPP
                      completeness_rate: 25
                      status: UPDATE
                      updated_at: 1710321880.381794
                    - id: 46555
                      created_at: 1710230346.803391
                      information:
                        profile_image_url: ''
                        identifier: ''
                        name: ''
                        identifier_source: ''
                      segments: []
                      sources:
                      - SURVEY
                      completeness_rate: 30
                      status: UPDATE
                      updated_at: 1710230353.429028
                    - id: 46551
                      created_at: 1710230279.340787
                      information:
                        profile_image_url: ''
                        identifier: ''
                        name: ''
                        identifier_source: ''
                      segments: []
                      sources:
                      - SURVEY
                      completeness_rate: 15
                      status: UPDATE
                      updated_at: 1710230283.10462
                    - id: 46549
                      created_at: 1710230262.580511
                      information:
                        profile_image_url: ''
                        identifier: ''
                        name: ''
                        identifier_source: ''
                      segments: []
                      sources:
                      - SURVEY
                      completeness_rate: 15
                      status: UPDATE
                      updated_at: 1710230266.338491
                    - id: 46544
                      created_at: 1709924008.723147
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1601647021688967169/4VK_gA82.jpg
                        identifier: awadallah
                        name: awadallah
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 14
                      status: UPDATE
                      updated_at: 1710101604.616023
                    - id: 46543
                      created_at: 1709923822.396281
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1580039594778578944/MlHtGTxp.jpg
                        identifier: vectara
                        name: vectara
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 14
                      status: UPDATE
                      updated_at: 1710100826.705523
                    - id: 46531
                      created_at: 1709854600.435535
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/378800000258465691/5e0c7fe16051992884eb2af468c39373.jpeg
                        identifier: bernardmoon
                        name: bernardmoon
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 16
                      status: UPDATE
                      updated_at: 1710087745.36858
                    - id: 46547
                      created_at: 1710084300.778945
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1377214755526557699/e6p0GXme.jpg
                        identifier: MohammedGhorab2
                        name: MohammedGhorab2
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 14
                      status: CREATE
                      updated_at: 1710084300.778945
                    - id: 46546
                      created_at: 1710055334.881383
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1621883161742303234/lBVaqlBb.jpg
                        identifier: alneyazi
                        name: alneyazi
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 12
                      status: CREATE
                      updated_at: 1710055334.881383
                    - id: 46530
                      created_at: 1709852894.873228
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1028143624947556352/_V4KGVz7.jpg
                        identifier: sparklabsgroup
                        name: sparklabsgroup
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 16
                      status: UPDATE
                      updated_at: 1710054741.806721
                    - id: 46545
                      created_at: 1709948502.204857
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1746640245158727680/A0py0xgn.jpg
                        identifier: B_BaderH
                        name: B_BaderH
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 18
                      status: CREATE
                      updated_at: 1709948502.204857
                    - id: 46542
                      created_at: 1709908294.964243
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1658909947025924108/kl5WbjWk.jpg
                        identifier: SpirosMargaris
                        name: SpirosMargaris
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 16
                      status: UPDATE
                      updated_at: 1709908364.028899
                    - id: 46541
                      created_at: 1709904659.541819
                      information:
                        profile_image_url: https://pbs.twimg.com/profile_images/1765195335763099648/OyeLG6YG.jpg
                        identifier: EvanJohnso63180
                        name: EvanJohnso63180
                        identifier_source: TWITTER
                      segments: []
                      sources:
                      - TWITTER
                      completeness_rate: 15
                      status: CREATE
                      updated_at: 1709904659.541819
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized. Authorization error (Invalid API key).
        '403':
          description: Forbidden!
        '404':
          description: Not Found!
        '406':
          description: "Not Acceptable!\tThe format used is not acceptable."
        '500':
          description: Internal Server Error. We might be updating our services, please wait a while before trying again.
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
    post:
      tags:
      - Profiles
      summary: Create Profile
      description: This endpoint allows you to create a new CDP profile.
      operationId: createProfile
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The user name of the profile, only accepts letters, digits, spaces, underscores and hyphen.
                data:
                  type: object
                  description: At least one of the values of phone, email or social media account should be provided.
                  properties:
                    email:
                      type: string
                    phone_number:
                      type: string
                    twitter:
                      type: string
                    facebook:
                      type: string
                    instagram:
                      type: string
                    intercom:
                      type: string
                    gmail:
                      type: string
                    whatsapp:
                      type: string
                    tiktok:
                      type: string
              x-examples:
                Example 1:
                  name: LucidyaUser
                  data:
                    email: user@example.com
                    phone_number: '+966583827'
                    twitter: user_example
                    facebook: user_example
                    instagram: user_example
                    intercom: user@example.com
                    gmail: user@example.com
                    whatsapp: '+1234567890'
                    tiktok: user_example
            examples:
              Example:
                value:
                  name: LucidyaUser
                  data:
                    email: user@example.com
                    phone_number: '+966583827'
                    twitter: user_example
                    facebook: user_example
                    instagram: user_example
                    intercom: user@example.com
                    gmail: user@example.com
                    whatsapp: '+1234567890'
                    tiktok: user_example
      responses:
        '200':
          description: Successful Operation - OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Type of response message.
                  profile_id:
                    type: integer
                    description: The unique identifier for the created profile.
                x-examples:
                  Example 1:
                    message: Profile created successfully
                    profile_id: 47423
              examples:
                default:
                  value:
                    profile_id: 47423
                    message: Profile created successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    examples:
                      example_0:
                        value:
                          error:
                            status: 400
                            detail: invalid base64
                      example_1:
                        value:
                          message: 'You already added this {field_name}: {field_value}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    examples:
                      example_0:
                        value:
                          error:
                            status: 401
                            detail: Failure of getting data due to token not found
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    examples:
                      example_0:
                        value:
                          error:
                            status: 503
                            detail: USER_NOT_AUTHORIZED
                      example_1:
                        value:
                          error:
                            status: 503
                            detail: SOMETHING_WENT_WRONG
                      example_2:
                        value:
                          error:
                            status: 503
                            detail: Parameter data is required
                      example_3:
                        value:
                          error:
                            status: 503
                            detail: Parameter name is required
      servers:
      - url: https://api.lucidya.com
        description: Production Server
    put:
      tags:
      - Profiles
      summary: Update Profile
      description: This endpoint allows you to update CDP profile data.
      operationId: updateProfile
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: The unique identifier of the profile.
        required: true
        schema:
          type: integer
          example: '229102'
        examples:
          default:
            value: '229102'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  description: At least one of the values of name, phone, email, or social media account should be provided along with an action. If the action is delete, a field ID must be provided.
                  items:
                    type: object
                    properties:
                      field_value:
                        type: string
                        description: Add the value you want to update it.
                      field_name:
                        type: string
                        description: Add the field name you want to select it.
                      action:
                        type: string
                        description: Add the action as an `add` type to update the value or `delete` to delete the value.
                      id:
                        type: integer
                        description: The field id for the delete action.
                  example:
                  - field_value: Test_user
                    field_name: name
                    action: add
                  - field_value: user@example.com
                    field_name: email
                    action: delete
                    id: 123
      responses:
        '200':
          description: Successful Operation - Ok.
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: integer
                    description: The unique identifier for the updated profile.
                  message:
                    type: string
                    description: Type of response message.
                x-examples:
                  Example 1:
                    profile_id: 47423
                    message: Profile created successfully
              examples:
                '200':
                  value:
                    profile_id: 47423
                    message: Profile created successfully
                default:
                  value:
                    message: The profile was updated successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    examples:
                      example_0:
                        value:
                          error:
                            status: 400
                            detail: invalid base64
                      example_1:
                        value:
                          message: Missing required parameters
                      example_2:
                        value:
                          message: Profile was not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    examples:
                      example_0:
                        value:
                          error:
                            status: 401
                            detail: Failure of getting data due to token not found
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    examples:
                      example_0:
                        value:
                          error:
                            status: 503
                            detail: USER_NOT_AUTHORIZED
                      example_1:
                        value:
                          error:
                            status: 503
                            detail: SOMETHING_WENT_WRONG
                      example_2:
                        value:
                          error:
                            status: 503
                            detail: Parameter data is required
                      example_3:
                        value:
                          error:
                            status: 503
                            detail: Parameter data cannot have length less than 1
      servers:
      - url: https://api.lucidya.com
        description: Production Server
  /profiles/{id}:
    get:
      tags:
      - Profiles
      summary: Get custom profile data by Id
      description: 'This endpoint retrieve a comprehensive profile information by specifying the customer profile''s unique identifier (Id).


        This endpoint enables you to access all gathered & analysed information from Lucidya engines for specific customer profile, encompassing but not limited to the following details:


        - **Full Name/ User Name**: This is the full name or user name of the customer.

        - **Profile_Image_URL**: Direct link to the customer''s profile picture, providing a visual identifier.

        - **Main Details**: An object encompassing key customer information, including **Name**, **Phone Number**, **Email**, **Twitter (X)** or **Other Social Accounts**, and **Segments** classifications.

        - **Basic Info**: This object provides essential information about the customer, featuring fields such as **Gender Type**, **Location**, **Dialect**, **Sub-Dialect**, **Main Themes**, and **Sub-Themes**.'
      operationId: getProfileById
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Unique identifier of the customer profile.
        required: true
        schema:
          type: string
          example: '46555'
        examples:
          default:
            value: '46555'
      responses:
        '200':
          description: "```json\n{\n    \"id\": 46514,\n    \"created_at\": 1709221862.858634,\n    \"name\": \"harbi_nh\",\n    \"profile_image_url\": \"https://pbs.twimg.com/profile_images/1641818042135990274/jfBeVJse.jpg\",\n    \"details\": {\n        \"name\": [\n            {\n                \"value\": \"Eng. Naif Alharbi\",\n                \"editable\": false,\n                \"id\": null\n            }\n        ],\n        \"phone_number\": [],\n        \"email\": [],\n        \"twitter\": [\n            {\n                \"value\": \"harbi_nh\",\n                \"editable\": false,\n                \"id\": null\n            }\n        ],\n        \"segments\": []\n    },\n    \"basic_info\": {\n        \"gender\": \"male\",\n        \"location\": {\n            \"name\": \"\",\n            \"code\": \"\"\n        },\n        \"dialect\": \"\",\n        \"sub_dialect\": \"\",\n        \"sentiment\": \"\",\n        \"main_themes\": [],\n        \"sub_themes\": []\n    }\n}\n```"
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value:
                    id: 46514
                    created_at: 1709221862.858634
                    name: harbi_nh
                    profile_image_url: https://pbs.twimg.com/profile_images/1641818042135990274/jfBeVJse.jpg
                    details:
                      name:
                      - value: Eng. Naif Alharbi
                        editable: false
                        id: null
                      phone_number: []
                      email: []
                      twitter:
                      - value: harbi_nh
                        editable: false
                        id: null
                      segments: []
                    basic_info:
                      gender: male
                      location:
                        name: ''
                        code: ''
                      dialect: ''
                      sub_dialect: ''
                      sentiment: ''
                      main_themes: []
                      sub_themes: []
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized. Authorization error (Invalid API key).
        '403':
          description: Forbidden!
        '404':
          description: Not Found!
        '406':
          description: "Not Acceptable!\tThe format used is not acceptable."
        '500':
          description: Internal Server Error. We might be updating our services, please wait a while before trying again.
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
x-internal: false
