openapi: 3.2.0
info:
  version: 1.0.0
  title: OmniChannel Social Media > X (Twitter) API
  description: 'This document serves as the 📘 comprehensive API guide for 🔌 integrating your product(s) with the Lucidya **OmniChannel** via **RESTful** endpoints.


    🔍 Discover how to seamlessly integrate your offerings with our platform, enabling you to leverage social media, chat, ratings, calls, and interaction channels all in one place.


    [🎓 Learn more about Lucidya OmniChannel](https://lucidya.com/product/lucidya-omnichannel/).'
  termsOfService: https://lucidya.com/service-agreement/
  contact:
    name: Lucidya
    url: https://lucidya.com/
    email: customer.support@lucidya.com
servers:
- url: https://api.lucidya.com
  description: Production Server
tags:
- name: Social Media > X (Twitter)
  description: Operations related to X (Twitter) "Public and Private" channel.
paths:
  /omnichannel/twitter/widget_data:
    post:
      tags:
      - Social Media > X (Twitter)
      summary: Create a Job to Retrieve Twitter Widgets
      description: 'Use this endpoint to create a request for X widget names and get the `job_id` to [get widgets analysis for the channel


        <!-- theme: info -->

        > #### Note

        >

        > You can specify a maximum of **5 widget names** and apply a Unix date filter for **up to 30 days**.


        <!-- theme: success -->

        > #### Tip

        >

        > Use `page_name` as `TWITTER_PUBLIC` for Twitter public channel or `TWITTER_PRIVATE` for Twitter private (direct message) channel to can get the required widgets.'
      operationId: createTwitterWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[75419]'
        examples:
          default:
            value: '[75419]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `TWITTER_PUBLIC` or `TWITTER_PRIVATE`.
        required: true
        schema:
          type: string
          example: TWITTER_PRIVATE
        examples:
          default:
            value: TWITTER_PRIVATE
      - name: data_source
        in: query
        description: Use this to add the data source name.
        required: true
        schema:
          type: string
          example: twitter
        examples:
          default:
            value: twitter
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example, `1709164800`.
        required: true
        schema:
          type: integer
          example: '1709164800'
        examples:
          default:
            value: '1709164800'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example, `1710460799`.
        required: true
        schema:
          type: integer
          example: '1710460799'
        examples:
          default:
            value: '1710460799'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '["OverView"]'
        examples:
          default:
            value: '["OverView"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: 37c736cd-1acf-41d4-8951-8d0d7c40d4ac
                      widgets_names:
                      - OverView
                Twitter_Public_Widget_Data:
                  value:
                    data:
                      job_id: 3e6d9c25-14dc-4e9e-9f59-98e4a377ebf4
                      widgets_names:
                      - posts_FollowersGrowth
                      - posts_AccountAuthorsActivity
                      - posts_ContentType
                      - posts_PostsInteractions
                      - posts_VolumeOvertime
                Twitter_Private_Widget_Data:
                  value:
                    data:
                      job_id: e97e58fe-25d5-401e-b6d6-20c5a8c89039
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - DialectsSubDialects
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
components:
  schemas:
    JobResult:
      type: object
      properties:
        job_id:
          type: string
          description: The unique identifier of the job.
          example: 3e6d9c25-14dc-4e9e-9f59-98e4a377ebf4
        widgets_names:
          type: array
          description: 'A list of widget names for which results are available. This may be a subset of the widgets requested in the original job.

            '
          items:
            type: string
