openapi: 3.2.0
info:
  version: 0.1.0
  title: Lucidya Public AI Dialects API
  summary: This is the Public API Reference for the Lucidya **AI** Product.
  description: Our AI API enables you to get insightful analytics and predictions from your text batches.
  termsOfService: https://lucidya.com/service-agreement/
  contact:
    name: Lucidya Support
    url: https://lucidya.com/
    email: customer.support@lucidya.com
servers:
- url: https://api.lucidya.com
  description: Production
tags:
- name: Dialects
paths:
  /dialects/predict_batch:
    post:
      summary: Predict Dialects - Bactch
      description: 'This endpoint enables you to add your posts (Texts) and predict the Arabic dialects and sub-dialects. '
      operationId: predict_dialects_batch_ai_dialects_predict_batch_post
      parameters:
      - name: luc-authorization
        in: header
        required: true
        schema:
          type: string
          title: Luc-Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Texts'
      responses:
        '200':
          description: Successful prediction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialectsPredictions'
        '400':
          description: Missing params, invalid input, strings too long or items not in range 1-100
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)
        '504':
          description: The request timed out
      servers:
      - url: https://api.lucidya.com
        description: Production
      tags:
      - Dialects
components:
  schemas:
    ValidationError:
      type: object
      title: ValidationError
      properties:
        loc:
          type: array
          title: Location
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      required:
      - loc
      - msg
      - type
    DialectsPredictions:
      type: object
      title: DialectsPredictions
      properties:
        dialects:
          type: array
          title: Dialects
          examples:
          - - modern_ar
            - modern_ar
            - saudi
            - egyptian
          items:
            type: string
        sub_dialects:
          type: array
          title: Sub Dialects
          examples:
          - - modern_ar
            - modern_ar
            - najdi
            - egyptian
          items:
            type: string
      required:
      - dialects
      - sub_dialects
    HTTPValidationError:
      type: object
      title: HTTPValidationError
      properties:
        detail:
          type: array
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
    ErrorMessage:
      type: object
      title: ErrorMessage
      properties:
        message:
          type: string
          title: Message
      required:
      - message
    Texts:
      type: object
      title: Texts
      properties:
        texts:
          type: array
          title: Texts
          examples:
          - - منتج عظيم
            - السلام عليكم ورحمة الله وبركاته
            - ما صارت!! الى متى التأخير
            - شتريت جوال امبارح ومش راضي يفتح معايا
          items:
            type: string
      required:
      - texts
