openapi: 3.0.0
info:
  version: 1.0.0
  title: OmniChannel API
  description: 'This document serves as the 📘 comprehensive API guide for 🔌 integrating your product(s)
    with the Lucidya **OmniChannel** via **RESTful** endpoints.


    🔍 Discover how to seamlessly integrate your offerings with our platform, enabling you to leverage
    social media, chat, ratings, calls, and interaction channels all in one place.


    [🎓 Learn more about Lucidya OmniChannel](https://lucidya.com/product/lucidya-omnichannel/).'
  termsOfService: https://lucidya.com/service-agreement/
  contact:
    name: Lucidya
    url: https://lucidya.com/
    email: customer.support@lucidya.com
servers:
- url: https://api.lucidya.com
  description: Production Server
paths:
  /monitors_list:
    get:
      tags:
      - Default
      summary: Get Channel List
      description: 'Use this endpoint to retrieve a comprehensive list of all connected channels within
        the **OmniChannel** product.


        <!-- theme: success -->

        > #### 🔢 Pagination

        >

        > This endpoint enables pagination by using a `page_id` parameter, which is included in the request
        query parameters. Each payload retrieves **10** channels.

        '
      operationId: getChannelList
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: product_name
        in: query
        description: This specifies the product name, which in this case is `omnichannel`.
        required: true
        schema:
          type: string
          example: omnichannel
        examples:
          default:
            value: omnichannel
      - name: page_id
        in: query
        description: 'This adds a `page_id` for the subsequent payload. The current page can be identified
          by the `"page_number": "1"` attribute in the initial payload.'
        required: true
        schema:
          type: integer
          example: '1'
        examples:
          default:
            value: '1'
      responses:
        '200':
          description: A list of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelList'
                  page_number:
                    type: string
                    description: This represents the current page number.
                  count:
                    type: integer
                    description: This represents the total number of connected channels.
              examples:
                ChannelListExample:
                  value:
                    data:
                    - id: '76729'
                      type: channel
                      attributes:
                        id: 76729
                        status: ''
                        name: Muhab Abbas
                        monitor_type_name: ACCOUNT_ANALYSIS
                        paused: 0
                        created_at: '2024-05-28'
                        data_sources:
                        - TWITTER
                        is_engagement_monitor: true
                        added_by: Muhab Abbas
                        authenticated_by: Abdullah Salem
                        data_category: Social Media
                        channel:
                        - TWITTER
                        account_name: abbasmuhab
                        total_count: 1
                        third_party_unique_id: abbasmuhab
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 0
                        dm_configuration_id: 0
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: false
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '76299'
                      type: channel
                      attributes:
                        id: 76299
                        status: ''
                        name: Mostafa
                        monitor_type_name: Monitor_dm_configuration
                        paused: 0
                        created_at: '2024-05-24'
                        data_sources:
                        - FACEBOOK
                        is_engagement_monitor: true
                        added_by: Mostafa user1
                        authenticated_by: Mostafa Salama
                        data_category: Social Media
                        channel:
                        - FACEBOOK
                        account_name: Mostafa
                        total_count: 0
                        third_party_unique_id: null
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 1
                        dm_configuration_id: 1919
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: true
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '76294'
                      type: channel
                      attributes:
                        id: 76294
                        status: ''
                        name: IslamShaaban
                        monitor_type_name: ACCOUNT_ANALYSIS
                        paused: 1
                        created_at: '2024-05-24'
                        data_sources:
                        - TWITTER
                        is_engagement_monitor: true
                        added_by: Mostafa Salama
                        authenticated_by: Islam Shaaban
                        data_category: Social Media
                        channel:
                        - TWITTER
                        account_name: islam_lucidya
                        total_count: 0
                        third_party_unique_id: islam_lucidya
                        percentage: 0
                        stream_status: paused
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 0
                        dm_configuration_id: 0
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: false
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '76214'
                      type: channel
                      attributes:
                        id: 76214
                        status: ''
                        name: IG Lucidya DM
                        monitor_type_name: Monitor_dm_configuration
                        paused: 0
                        created_at: '2024-05-23'
                        data_sources:
                        - FACEBOOK
                        is_engagement_monitor: true
                        added_by: Islam Shaaban
                        authenticated_by: Islam Shaaban
                        data_category: Social Media
                        channel:
                        - FACEBOOK
                        account_name: IG Lucidya DM
                        total_count: 0
                        third_party_unique_id: null
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 1
                        dm_configuration_id: 1914
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: true
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '75944'
                      type: channel
                      attributes:
                        id: 75944
                        status: ''
                        name: MhdTest
                        monitor_type_name: ACCOUNT_ANALYSIS
                        paused: 0
                        created_at: '2024-05-22'
                        data_sources:
                        - TWITTER
                        is_engagement_monitor: false
                        added_by: Mohammed Alasli
                        authenticated_by: Mohammed Alasli
                        data_category: Social Media
                        channel:
                        - TWITTER
                        account_name: testmhd45680
                        total_count: 0
                        third_party_unique_id: testmhd45680
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 0
                        dm_configuration_id: 0
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: false
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts:
                        - TestMhd45680
                    - id: '75854'
                      type: channel
                      attributes:
                        id: 75854
                        status: ''
                        name: Test-luc-2
                        monitor_type_name: MANAGED_ACCOUNT
                        paused: 0
                        created_at: '2024-05-21'
                        data_sources:
                        - LINKEDIN
                        is_engagement_monitor: false
                        added_by: Islam Shaaban
                        authenticated_by: Islam Shaaban
                        data_category: Social Media
                        channel:
                        - LINKEDIN
                        account_name: Test-luc-2
                        total_count: 29
                        third_party_unique_id: Test-luc-2
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 0
                        dm_configuration_id: 0
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: false
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '75429'
                      type: channel
                      attributes:
                        id: 75429
                        status: ''
                        name: Mostafa Hossam
                        monitor_type_name: ACCOUNT_ANALYSIS
                        paused: 0
                        created_at: '2024-05-18'
                        data_sources:
                        - TWITTER
                        is_engagement_monitor: false
                        added_by: Mostafa user1
                        authenticated_by: Mostafa user1
                        data_category: Social Media
                        channel:
                        - TWITTER
                        account_name: mostafa07289794
                        total_count: 4
                        third_party_unique_id: mostafa07289794
                        percentage: -0.3333333432674408
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 0
                        dm_configuration_id: 0
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: false
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '75419'
                      type: channel
                      attributes:
                        id: 75419
                        status: ''
                        name: Mostafa Hossam
                        monitor_type_name: Monitor_dm_configuration
                        paused: 0
                        created_at: '2024-05-18'
                        data_sources:
                        - TWITTER
                        is_engagement_monitor: false
                        added_by: Mostafa user1
                        authenticated_by: Mostafa user1
                        data_category: Social Media
                        channel:
                        - TWITTER
                        account_name: Mostafa07289794
                        total_count: 0
                        third_party_unique_id: null
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 1
                        dm_configuration_id: 1884
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: true
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '75284'
                      type: channel
                      attributes:
                        id: 75284
                        status: ''
                        name: MhdTest
                        monitor_type_name: Monitor_dm_configuration
                        paused: 0
                        created_at: '2024-05-16'
                        data_sources:
                        - TWITTER
                        is_engagement_monitor: false
                        added_by: Mohammed Alasli
                        authenticated_by: Mohammed Alasli
                        data_category: Social Media
                        channel:
                        - TWITTER
                        account_name: TestMhd45680
                        total_count: 0
                        third_party_unique_id: null
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 1
                        dm_configuration_id: 1874
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: true
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    - id: '75039'
                      type: channel
                      attributes:
                        id: 75039
                        status: ''
                        name: Abdullah Salem
                        monitor_type_name: Monitor_dm_configuration
                        paused: 0
                        created_at: '2024-05-15'
                        data_sources:
                        - TWITTER
                        is_engagement_monitor: true
                        added_by: a tharwat 1111
                        authenticated_by: a tharwat 1111
                        data_category: Social Media
                        channel:
                        - TWITTER
                        account_name: Abdulla75881452
                        total_count: 0
                        third_party_unique_id: null
                        percentage: 0
                        stream_status: collecting
                        monitor_owner: false
                        disable_reauth: false
                        dm_channel: 1
                        dm_configuration_id: 1829
                        limit_error: []
                        account_error: []
                        account_tiktok_token_error: false
                        account_valid_error: []
                        is_dm: true
                        auth_error_login: []
                        auth_error_permission: []
                        customer_care_accounts: []
                    page_number: '1'
                    count: 31
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '500':
          description: A required parameter is missing or the parameter format is incorrect.
          content:
            application/json:
              schema:
                type: object
              examples:
                Missing_Parameter:
                  value:
                    error:
                      status: 500
                      detail: Page_id is required
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
  /omnichannel/base/categories:
    get:
      tags:
      - Default
      summary: Get Categories
      description: Retieve all categories with all available data sources for each one and the main categories
        on the OmniChannel product eg.. social media, reviews, calls,..etc
      operationId: getCategories
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Categories'
              examples:
                Retrieve Categories:
                  value:
                    data:
                    - name: Social Media
                      data_sources:
                      - id: 1
                        source: TWITTER_PRIVATE
                      - id: 1
                        source: TWITTER_PUBLIC
                      - id: 2
                        source: FACEBOOK_PRIVATE
                      - id: 2
                        source: FACEBOOK_PUBLIC
                      - id: 3
                        source: INSTAGRAM_PUBLIC
                      - id: 3
                        source: INSTAGRAM_PRIVATE
                      - id: 20
                        source: LINKEDIN_PUBLIC
                      - id: 38
                        source: TIKTOK_PUBLIC
                    - name: chats
                      data_sources:
                      - id: 6
                        source: INTERCOM
                      - id: 9
                        source: WHATSAPP
                    - name: emails
                      data_sources:
                      - id: 7
                        source: GMAIL
                    - name: Ratings
                      data_sources:
                      - id: 15
                        source: GOOGLEMYBUSINESS
                    - name: Calls
                      data_sources:
                      - id: 27
                        source: GENESYS
                    - main_categories:
                      - analytics
                      - interactions
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
          content:
            application/json:
              schema:
                type: object
      servers:
      - url: https://api.lucidya.com
        description: Production Server
  /omnichannel/base/widgets:
    get:
      tags:
      - Default
      summary: Get Widget Names
      description: 'Retrieve a list of all widget names for a specific channel by using `page_name` and
        `section_name`.


        <!-- theme: success -->

        > #### Tip

        >

        > You can find all page names and their related section names on the [categories endpoint](https://docs.lucidya.com/docs/omnichannel-api/branches/main/oaihft14jx8iv-get-categories).'
      operationId: getWidgetNames
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: page_name
        in: query
        description: Use this parameter to add the specific `page_name`, which means data source, like
          `TWITTER_PUBLIC`.
        required: true
        schema:
          type: string
          example: WHATSAPP
        examples:
          default:
            value: WHATSAPP
      - name: section_name
        in: query
        description: Use this parameter to add the related `section_name`, which means category, like
          `Social Media`.
        required: true
        schema:
          type: string
          example: chats
        examples:
          default:
            value: chats
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetConfig'
              examples:
                Twitter_Public_Widget_Names:
                  value:
                    data:
                      page_name: TWITTER_PUBLIC
                      widgets_names:
                      - posts_FollowersGrowth
                      - posts_VolumeOvertime
                      - comments_VolumeOvertime
                      company_time_zone: -1
                      section_name: social
                Twitter_Private_Widget_Names:
                  value:
                    data:
                      page_name: TWITTER_PRIVATE
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - DialectsSubDialects
                      - ContentType
                      company_time_zone: 2
                      section_name: social
                Facebook_Public_Widget_Names:
                  value:
                    data:
                      page_name: FACEBOOK_PUBLIC
                      widgets_names:
                      - posts_AccountAuthorsActivity
                      - posts_ContentType
                      - posts_TopImages
                      - posts_TopVideos
                      - posts_VolumeOvertime
                      - posts_Reactions
                      - posts_PostsInteractions
                      - posts_TopKeywords
                      - posts_TopHashTags
                      - comments_OverView
                      - comments_VolumeOvertime
                      - comments_Reactions
                      - comments_Themes
                      - comments_SentimentAnalysis
                      - comments_AssociatedTopics
                      - comments_PostsEngagers
                      - comments_DialectsSubDialects
                      - comments_AccountAuthorsActivity
                      - comments_TopPosts
                      - comments_TopKeywords
                      - comments_TopHashTags
                      - comments_PostsInteractions
                      - CustomerCarePerformance
                      company_time_zone: 2
                      section_name: social
                Facebook_Private_Widget_Names:
                  value:
                    data:
                      page_name: FACEBOOK_PRIVATE
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - DialectsSubDialects
                      - ChannelAccounts
                      - ContentType
                      - AccountContactsActivity
                      - TopKeywords
                      - GenderDistribution
                      - TopEngagers
                      - LatestInteractions
                      company_time_zone: 2
                      section_name: social
                Instagram_Public_Widget_Names:
                  value:
                    data:
                      page_name: INSTAGRAM_PUBLIC
                      widgets_names:
                      - posts_AccountAuthorsActivity
                      - posts_VolumeOvertime
                      - posts_PostsInteractions
                      - posts_AverageEngagementPerPosts
                      - posts_ContentType
                      - posts_TopVideos
                      - posts_TopImages
                      - comments_OverView
                      - comments_VolumeOvertime
                      - comments_SentimentAnalysis
                      - comments_Themes
                      - comments_CommentsInteractions
                      - comments_TopKeywords
                      - comments_TopHashTags
                      - comments_AssociatedTopics
                      - comments_DialectsSubDialects
                      - comments_TopEngagers
                      - CustomerCarePerformance
                      - comments_TopPosts
                      company_time_zone: 2
                      section_name: social
                Instagram_Private_Widget_Names:
                  value:
                    data:
                      page_name: INSTAGRAM_PRIVATE
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - DialectsSubDialects
                      - ChannelAccounts
                      - ContentType
                      - AccountContactsActivity
                      - TopKeywords
                      - GenderDistribution
                      - TopEngagers
                      - LatestInteractions
                      company_time_zone: 2
                      section_name: social
                LinkedIn_Public_Widget_Names:
                  value:
                    data:
                      page_name: LINKEDIN_PUBLIC
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - ChannelAccounts
                      - ContentType
                      - DialectsSubDialects
                      - AccountAuthorsActivity
                      - TopKeywords
                      - TopHashTags
                      - TopImages
                      - TopVideos
                      - PostsEngagers
                      - GenderDistribution
                      - Reactions
                      - TopEngagers
                      - TopPosts
                      company_time_zone: 2
                      section_name: social
                TikTok_Public_Widget_Names:
                  value:
                    data:
                      page_name: TIKTOK_PUBLIC
                      widgets_names:
                      - overview
                      - video_volume
                      - follower_growth_overtime
                      - account_authors_activity
                      - videos_interactions
                      - top_videos
                      - comments_volume
                      - sentiment_analysis
                      - themes
                      - top_keywords
                      - top_hashtags
                      - gender
                      - associated_topics
                      - top_languages
                      - dialects
                      - top_engagers
                      - customer_care_performance
                      - latest_interactions
                      company_time_zone: 2
                      section_name: social
                Intercom_Widget_Names:
                  value:
                    data:
                      page_name: INTERCOM
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - GenderDistribution
                      - TopCountries
                      - TopCities
                      - DialectsSubDialects
                      - TopKeywords
                      - TopPosts
                      company_time_zone: 2
                      section_name: chats
                WhatsApp_Widget_Names:
                  value:
                    data:
                      page_name: WHATSAPP
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - ClientEngagements
                      - ContentType
                      - Themes
                      - MessagesStatus
                      - DialectsSubDialects
                      - AccountAuthorsActivity
                      - TopCountries
                      - TopKeywords
                      - TopPosts
                      company_time_zone: 2
                      section_name: chats
                Gmail_Widget_Names:
                  value:
                    data:
                      page_name: GMAIL
                      widgets_names:
                      - OverView
                      - DialectsSubDialects
                      - TopKeywords
                      - TopPosts
                      - VolumeOvertime
                      - Themes
                      - SentimentAnalysis
                      company_time_zone: 2
                      section_name: emails
                GoogleMyBusiness_Widget_Names:
                  value:
                    data:
                      page_name: GOOGLEMYBUSINESS
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - WhereFindBusinessOnGoogle
                      - TopCountries
                      - TopCities
                      - GenderDistribution
                      - DialectsSubDialects
                      - TopKeywords
                      - RateReviews
                      - TopPosts
                      company_time_zone: 2
                      section_name: ratings
                Genesys_Widget_Names:
                  value:
                    data:
                      page_name: GENESYS
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - ChannelAccounts
                      - DialectsSubDialects
                      - AccountAuthorsActivity
                      - TopKeywords
                      - PostsEngagers
                      - TopCountries
                      - TopPosts
                      - TopEngagers
                      company_time_zone: 2
                      section_name: calls
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
  /omnichannel/twitter/widget_data:
    post:
      tags:
      - Social Media > X (Twitter)
      summary: Create a Job to Retrieve Twitter Widgets
      description: 'Use this endpoint to create a request for X widget names and get the `job_id` to [get
        widgets analysis for the channel


        <!-- theme: info -->

        > #### Note

        >

        > You can specify a maximum of **5 widget names** and apply a Unix date filter for **up to 30
        days**.


        <!-- theme: success -->

        > #### Tip

        >

        > Use `page_name` as `TWITTER_PUBLIC` for Twitter public channel or `TWITTER_PRIVATE` for Twitter
        private (direct message) channel to can get the required widgets.'
      operationId: createTwitterWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[75419]'
        examples:
          default:
            value: '[75419]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `TWITTER_PUBLIC`
          or `TWITTER_PRIVATE`.
        required: true
        schema:
          type: string
          example: TWITTER_PRIVATE
        examples:
          default:
            value: TWITTER_PRIVATE
      - name: data_source
        in: query
        description: Use this to add the data source name.
        required: true
        schema:
          type: string
          example: twitter
        examples:
          default:
            value: twitter
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example,
          `1709164800`.
        required: true
        schema:
          type: integer
          example: '1709164800'
        examples:
          default:
            value: '1709164800'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example,
          `1710460799`.
        required: true
        schema:
          type: integer
          example: '1710460799'
        examples:
          default:
            value: '1710460799'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '["OverView"]'
        examples:
          default:
            value: '["OverView"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: 37c736cd-1acf-41d4-8951-8d0d7c40d4ac
                      widgets_names:
                      - OverView
                Twitter_Public_Widget_Data:
                  value:
                    data:
                      job_id: 3e6d9c25-14dc-4e9e-9f59-98e4a377ebf4
                      widgets_names:
                      - posts_FollowersGrowth
                      - posts_AccountAuthorsActivity
                      - posts_ContentType
                      - posts_PostsInteractions
                      - posts_VolumeOvertime
                Twitter_Private_Widget_Data:
                  value:
                    data:
                      job_id: e97e58fe-25d5-401e-b6d6-20c5a8c89039
                      widgets_names:
                      - OverView
                      - VolumeOvertime
                      - SentimentAnalysis
                      - Themes
                      - DialectsSubDialects
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
  /omnichannel/facebook/widget_data:
    post:
      tags:
      - Social Media > Facebook
      summary: Create Facebook (Public & Private) Widget Data
      description: 'Use this endpoint to create a request for public or private Facebook widget names
        and get the `job_id` to [get widgets analysis for the channel](https://docs.lucidya.com/docs/omnichannel-api/branches/main/t4pmsi5o4uf3l-get-facebook-public-and-private-widget-data).


        <!-- theme: info -->

        > #### Note

        >

        > You can specify a maximum of **5 widget names** and apply a Unix date filter for **up to 30
        days**.


        <!-- theme: success -->

        > #### Tip

        >

        > Use `page_name` as `FACEBOOK_PUBLIC` for Facebook public channel or `FACEBOOK_PRIVATE` for Facebook
        private (direct message) channel.'
      operationId: createFacebookWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[76299]'
        examples:
          default:
            value: '[76299]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `FACEBOOK_PUBLIC`
          or `FACEBOOK_PRIVATE`.
        required: true
        schema:
          type: string
          example: FACEBOOK_PRIVATE
        examples:
          default:
            value: FACEBOOK_PRIVATE
      - name: data_source
        in: query
        description: Use this to add the data source name, example in this endpoint, `facebook`.
        required: true
        schema:
          type: string
          example: facebook
        examples:
          default:
            value: facebook
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example,
          `1709164800`.
        required: true
        schema:
          type: integer
          example: '1714867200'
        examples:
          default:
            value: '1714867200'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example,
          `1710460799`.
        required: true
        schema:
          type: integer
          example: '1717027200'
        examples:
          default:
            value: '1717027200'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '["OverView"]'
        examples:
          default:
            value: '["OverView"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: a4a51892-928f-47c1-a60d-ab4e736bd348
                      widgets_names:
                      - OverView
                Default:
                  value:
                    job_id: 3e6d9c25-14dc-4e9e-9f59-98e4a377ebf4
                    widgets_names:
                    - string
                Facebook_Public_Widget_Data:
                  value:
                    data:
                      job_id: 484e96a0-64b9-4294-9584-3f8410a1c7fb
                      widgets_names:
                      - comments_OverView
                Facebook_Private_Widget_Data:
                  value:
                    data:
                      job_id: e3fffaeb-77ca-42f6-a073-35a872b052a7
                      widgets_names:
                      - OverView
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
    get:
      tags:
      - Social Media > Facebook
      summary: Get Facebook (Public & Private) Widget Data
      description: 'Retrieve a list of widget data analyses for the specified widget names using `job_id`
        from the [newly created widgets data endpoint](https://docs.lucidya.com/docs/omnichannel-api/branches/main/aq08ddkfsugxr-create-facebook-public-and-private-widget-data).


        <!-- theme: success -->

        > #### Tip

        >

        > Use `page_name` as `FACEBOOK_PUBLIC` for Facebook public channel or `FACEBOOK_PRIVATE` for Facebook
        private (direct message) channel.'
      operationId: getFacebookWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: page_name
        in: query
        description: Use this to add the page name or source name, for example in this endpoint, `FACEBOOK_PUBLIC`
          or `FACEBOOK_PRIVATE`.
        required: true
        schema:
          type: string
          example: FACEBOOK_PRIVATE
        examples:
          default:
            value: FACEBOOK_PRIVATE
      - name: data_source
        in: query
        description: Use this to add the data source name , for example in this endpoint, `facebook`.
        required: true
        schema:
          type: string
          example: facebook
        examples:
          default:
            value: facebook
      - name: job_id
        in: query
        description: This `job_id` represents the identifier for the [newly created facebook widgets data](https://docs.lucidya.com/docs/omnichannel-api/branches/main/aq08ddkfsugxr-create-facebook-public-and-private-widget-data).
        required: true
        schema:
          type: string
          example: a4a51892-928f-47c1-a60d-ab4e736bd348
        examples:
          default:
            value: a4a51892-928f-47c1-a60d-ab4e736bd348
      - name: monitors_list
        in: query
        description: Use this to apply filters by monitors list ID(s) for the channel(s).
        schema:
          type: array
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetDataResponse'
              examples:
                default:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        overview:
                          overview:
                            total_interactions: 4
                            total_messages: 12
                            inbound_messages: 7
                            outbound_messages: 5
                            total_people: 1
                            net_sentiment:
                            - name: neutral
                              value: 4
                Default:
                  value:
                    data:
                      widget_data: {}
                Facebook_Public_Widget_Data:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        Facebook__EngagementsPage__overview:
                          overview:
                            total_interactions: 1
                            net_sentiment:
                            - name: positive
                              value: 1
                            total_people: 1
                            total_requests: 0
                            response_rate: 0
                            average_waiting_time: 0:00:00
                Facebook_Private_Widget_Data:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        overview:
                          overview:
                            total_interactions: 4
                            total_messages: 12
                            inbound_messages: 7
                            outbound_messages: 5
                            total_people: 1
                            net_sentiment:
                            - name: neutral
                              value: 4
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
      x-internal: false
  /omnichannel/instagram/widget_data:
    post:
      tags:
      - Social Media > Instagram
      summary: Create Instagram (Public & Private) Widget Data
      description: 'Use this endpoint to create a request for public or private Instagram widget names
        and get the `job_id` to [get widgets analysis for the channel](https://docs.lucidya.com/docs/omnichannel-api/branches/main/ktkbxhqnuucg0-get-instagram-public-and-private-widget-data).


        <!-- theme: info -->

        > #### Note

        >

        > You can specify a maximum of **5 widget names** and apply a Unix date filter for **up to 30
        days**.


        <!-- theme: success -->

        > #### Tip

        >

        > Use `page_name` as `INSTAGRAM_PUBLIC` for Instagram public channel or `INSTAGRAM_PRIVATE` for
        Instagram private (direct message) channel.'
      operationId: createInstagramWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[75024]'
        examples:
          default:
            value: '[75024]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `INSTAGRAM_PUBLIC`
          or `INSTAGRAM_PRIVATE`.
        required: true
        schema:
          type: string
          example: INSTAGRAM_PRIVATE
        examples:
          default:
            value: INSTAGRAM_PRIVATE
      - name: data_source
        in: query
        description: Use this to add the data source name, example in this endpoint, `instagram`.
        required: true
        schema:
          type: string
          example: instagram
        examples:
          default:
            value: instagram
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example,
          `1709164800`.
        required: true
        schema:
          type: integer
          example: '1714867200'
        examples:
          default:
            value: '1714867200'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example,
          `1710460799`.
        required: true
        schema:
          type: integer
          example: '1717027200'
        examples:
          default:
            value: '1717027200'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '["OverView"]'
        examples:
          default:
            value: '["OverView"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: e94c67fb-ba23-42ae-b7ce-9f460e85fb25
                      widgets_names:
                      - OverView
                Default:
                  value:
                    job_id: 3e6d9c25-14dc-4e9e-9f59-98e4a377ebf4
                    widgets_names:
                    - string
                Instagram_Public_Widget_Data:
                  value:
                    data:
                      job_id: cc00d9fc-4d53-4b78-baf6-dc2b9387f895
                      widgets_names:
                      - CustomerCarePerformance
                      - comments_OverView
                Instagram_Private_Widget_Data:
                  value:
                    data:
                      job_id: e94c67fb-ba23-42ae-b7ce-9f460e85fb25
                      widgets_names:
                      - OverView
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
    get:
      tags:
      - Social Media > Instagram
      summary: Get Instagram (Public & Private) Widget Data
      description: 'Retrieve a list of widget data analyses for the specified widget names using `job_id`
        from the [newly created widgets data endpoint](https://docs.lucidya.com/docs/omnichannel-api/branches/main/j8b3b5lnzx0lu-create-instagram-public-and-private-widget-data).


        <!-- theme: success -->

        > #### Tip

        >

        > Use `page_name` as `INSTAGRAM_PUBLIC` for Instagram public channel or `INSTAGRAM_PRIVATE` for
        Instagram private (direct message) channel.'
      operationId: getInstagramWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: page_name
        in: query
        description: Use this to add the page name or source name, for example in this endpoint, `INSTAGRAM_PUBLIC`
          or `INSTAGRAM_PRIVATE`.
        required: true
        schema:
          type: string
          example: INSTAGRAM_PRIVATE
        examples:
          default:
            value: INSTAGRAM_PRIVATE
      - name: data_source
        in: query
        description: Use this to add the data source name , for example in this endpoint, `instagram`.
        required: true
        schema:
          type: string
          example: instagram
        examples:
          default:
            value: instagram
      - name: job_id
        in: query
        description: This `job_id` represents the identifier for the [newly created instagram widgets
          data](https://docs.lucidya.com/docs/omnichannel-api/branches/main/j8b3b5lnzx0lu-create-instagram-public-and-private-widget-data).
        required: true
        schema:
          type: string
          example: e94c67fb-ba23-42ae-b7ce-9f460e85fb25
        examples:
          default:
            value: e94c67fb-ba23-42ae-b7ce-9f460e85fb25
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetDataResponse'
              examples:
                default:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        overview:
                          overview:
                            total_interactions: 33
                            total_messages: 408
                            inbound_messages: 255
                            outbound_messages: 153
                            total_people: 14
                            net_sentiment:
                            - name: neutral
                              value: 26
                Default:
                  value:
                    data:
                      widget_data: {}
                Instagram_Public_Widget_Data:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        Instagram__CASingleDataSourceInsightsPage__customer_care_performance:
                          total_number_of_questions: 0
                          number_of_answered_questions: 0
                          avg_response_time_in_seconds: 0
                          response_time_segment:
                            <10min: 0
                            10-30min: 0
                            30-60min: 0
                            60-90min: 0
                            90min-2hr: 0
                            2hr-4hr: 0
                            4hr-6hr: 0
                            6hr-12hr: 0
                            12hr-24hr: 0
                            24hr-48hr: 0
                            48hr-72hr: 0
                            '>72hr': 0
                        Instagram__EngagementsPage__overview:
                          overview:
                            total_interactions: 7
                            net_sentiment:
                            - name: positive
                              value: 6
                            total_people: 3
                            total_requests: 0
                            response_rate: 0
                            average_waiting_time: 0:00:00
                Instagram_Private_Widget_Data:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        overview:
                          overview:
                            total_interactions: 33
                            total_messages: 408
                            inbound_messages: 255
                            outbound_messages: 153
                            total_people: 14
                            net_sentiment:
                            - name: neutral
                              value: 26
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
      x-internal: false
  /omnichannel/tiktok/widget_data:
    post:
      tags:
      - Social Media > TikTok
      summary: Create TikTok Public Widget Data
      description: 'Use this endpoint to create a request for public TikTok widget names and get the `job_id`
        to [get widgets analysis for the channel](https://docs.lucidya.com/docs/omnichannel-api/branches/main/2kf21o6i3ihht-get-tik-tok-public-widget-data).


        <!-- theme: info -->

        > #### Note

        >

        > You can specify a maximum of **5 widget names** and apply a Unix date filter for **up to 30
        days**.

        '
      operationId: createTikTokWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[45433]'
        examples:
          default:
            value: '[45433]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `TIKTOK_PUBLIC`.
        required: true
        schema:
          type: string
          example: TIKTOK_PUBLIC
        examples:
          default:
            value: TIKTOK_PUBLIC
      - name: data_source
        in: query
        description: Use this to add the data source name, example in this endpoint, `tiktok`.
        required: true
        schema:
          type: string
          example: tiktok
        examples:
          default:
            value: tiktok
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example,
          `1709164800`.
        required: true
        schema:
          type: integer
          example: '1714867200'
        examples:
          default:
            value: '1714867200'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example,
          `1710460799`.
        required: true
        schema:
          type: integer
          example: '1717027200'
        examples:
          default:
            value: '1717027200'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '           ["overview", "latest_interactions"]'
        examples:
          default:
            value: '           ["overview", "latest_interactions"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: 2817c000-8dfa-427f-bf82-c3acaaf5c5ce
                      widgets_names:
                      - overview
                      - latest_interactions
                TikTok_Public_Widget_Data:
                  value:
                    data:
                      job_id: 2817c000-8dfa-427f-bf82-c3acaaf5c5ce
                      widgets_names:
                      - overview
                      - latest_interactions
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
    get:
      tags:
      - Social Media > TikTok
      summary: Get TikTok Public Widget Data
      description: Retrieve a list of widget data analyses for the specified widget names using `job_id`
        from the [newly created widgets data endpoint](https://docs.lucidya.com/docs/omnichannel-api/branches/main/9q00vwvhu2iuo-create-tik-tok-public-widget-data).
      operationId: get-omnichannel-tiktok-widget_data
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: page_name
        in: query
        description: Use this to add the page name or source name, for example in this endpoint, `TIKTOK_PUBLIC`.
        required: true
        schema:
          type: string
          example: TIKTOK_PUBLIC
        examples:
          default:
            value: TIKTOK_PUBLIC
      - name: data_source
        in: query
        description: Use this to add the data source name , for example in this endpoint, `tiktok`.
        required: true
        schema:
          type: string
          example: tiktok
        examples:
          default:
            value: tiktok
      - name: job_id
        in: query
        description: This `job_id` represents the identifier for the [newly created tiktok widgets data](https://docs.lucidya.com/docs/omnichannel-api/branches/main/9q00vwvhu2iuo-create-tik-tok-public-widget-data).
        required: true
        schema:
          type: string
          example: 6e318563-852d-4497-8969-29b88ba9b546
        examples:
          default:
            value: 6e318563-852d-4497-8969-29b88ba9b546
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetDataResponse'
              examples:
                TikTok_Public_Widget_Data:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        Tiktok__Single_Source__overview:
                          overview:
                            total_interactions: 0
                            total_contacts: 0
                            net_sentiment:
                            - name: null
                              value: 0
                        Tiktok__Single_Source__latest_interactions:
                          latest_interactions: []
                          interactions_count: 0
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
      x-internal: false
  /omnichannel/linkedin/widget_data:
    post:
      tags:
      - Social Media > Linkedin
      summary: Create LinkedIn Public Widget Data
      description: 'Use this endpoint to create a request for public LinkedIn widget names and get the
        `job_id` to [get widgets analysis for the channel](https://docs.lucidya.com/docs/omnichannel-api/branches/main/fqvppt2jhdnz3-get-linked-in-public-widget-data).


        <!-- theme: info -->

        > #### Note

        >

        > You can specify a maximum of **5 widget names** and apply a Unix date filter for **up to 30
        days**.

        '
      operationId: createLinkedInWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[71599]'
        examples:
          default:
            value: '[71599]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `LINKEDIN_PUBLIC`.
        required: true
        schema:
          type: string
          example: LINKEDIN_PUBLIC
        examples:
          default:
            value: LINKEDIN_PUBLIC
      - name: data_source
        in: query
        description: Use this to add the data source name, example in this endpoint, `linkedin`.
        required: true
        schema:
          type: string
          example: linkedin
        examples:
          default:
            value: linkedin
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example,
          `1709164800`.
        required: true
        schema:
          type: integer
          example: '1714867200'
        examples:
          default:
            value: '1714867200'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example,
          `1710460799`.
        required: true
        schema:
          type: integer
          example: '1717027200'
        examples:
          default:
            value: '1717027200'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '           ["OverView"]'
        examples:
          default:
            value: '           ["OverView"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: 6e318563-852d-4497-8969-29b88ba9b546
                      widgets_names:
                      - OverView
                LinkedIn_Public_Widget_Data:
                  value:
                    data:
                      job_id: ebbd1209-7bff-4117-8dab-4dfd626915d0
                      widgets_names:
                      - OverView
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
    get:
      tags:
      - Social Media > Linkedin
      summary: Get LinkedIn Public Widget Data
      description: Retrieve a list of widget data analyses for the specified widget names using `job_id`
        from the [newly created widgets data endpoint](https://docs.lucidya.com/docs/omnichannel-api/branches/main/hm7wj6jygggqv-create-linked-in-public-widget-data).
      operationId: getLinkedInWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: page_name
        in: query
        description: Use this to add the page name or source name, for example in this endpoint, `LINKEDIN`.
        required: true
        schema:
          type: string
          example: LINKEDIN_PUBLIC
        examples:
          default:
            value: LINKEDIN_PUBLIC
      - name: data_source
        in: query
        description: Use this to add the data source name , for example in this endpoint, `linkedin`.
        required: true
        schema:
          type: string
          example: linkedin
        examples:
          default:
            value: linkedin
      - name: job_id
        in: query
        description: This `job_id` represents the identifier for the [newly created linkedin widgets data]().
        required: true
        schema:
          type: string
          example: 6e318563-852d-4497-8969-29b88ba9b546
        examples:
          default:
            value: 6e318563-852d-4497-8969-29b88ba9b546
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetDataResponse'
              examples:
                LinkedIn_Public_Widget_Data:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        Linkedin__CASingleDataSourceInsightsPage__overview:
                          overview:
                            total_interactions: 0
                            total_contacts: 0
                            net_sentiment:
                            - name: null
                              value: 0
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
      x-internal: false
  /omnichannel/social_media/widget_data:
    post:
      tags:
      - Social Media > Social
      summary: Create Social Widget Data
      description: 'Use this endpoint to create a request for all social connected channels and obtain
        the `job_id` necessary to [retrieve widget analysis for all social channels](https://docs.lucidya.com/docs/omnichannel-api/3z0h5zr07jmqb-get-social-widget-data-analysis).

        '
      operationId: createSocialWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[65999]'
        examples:
          default:
            value: '[65999]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `SOCIAL`.
        required: true
        schema:
          type: string
          example: SOCIAL
        examples:
          default:
            value: SOCIAL
      - name: data_source
        in: query
        description: Use this to add the data source name, example in this endpoint, `social`.
        required: true
        schema:
          type: string
          example: social
        examples:
          default:
            value: social
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example,
          `1709164800`.
        required: true
        schema:
          type: integer
          example: '1698105600'
        examples:
          default:
            value: '1698105600'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example,
          `1710460799`.
        required: true
        schema:
          type: integer
          example: '1700524799'
        examples:
          default:
            value: '1700524799'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '           ["OverView"]'
        examples:
          default:
            value: '           ["OverView"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: a81ff4df-1ec8-480d-b648-dab89943e642
                      widgets_names:
                      - OverView
                Social_Widget_Data:
                  value:
                    data:
                      job_id: a81ff4df-1ec8-480d-b648-dab89943e642
                      widgets_names:
                      - OverView
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out.
      servers:
      - url: https://api.lucidya.com
        description: Production Server
    get:
      tags:
      - Social Media > Social
      summary: Get Social Widget Data Analysis
      description: 'Retrieve a list of all social channels widget data and get an overview for all using
        this endpoint.


        <!-- theme: success -->

        > #### Tip

        >

        > This endpoint provides an overview of data for all social channels.'
      operationId: getSocialWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `SOCIAL`.
        required: true
        schema:
          type: string
          example: SOCIAL
        examples:
          default:
            value: SOCIAL
      - name: data_source
        in: query
        description: Use this to add the data source name , for example in this endpoint, `social`.
        required: true
        schema:
          type: string
          example: social
        examples:
          default:
            value: social
      - name: job_id
        in: query
        description: This `job_id` represents the identifier for the [newly created social widgets data](https://docs.lucidya.com/docs/omnichannel-api/branches/main/tqo81ld59cdf5-create-social-public-widget-data).
        required: true
        schema:
          type: string
          example: 43b81c5c-3a7f-4f41-9084-193cda046dc6
        examples:
          default:
            value: 43b81c5c-3a7f-4f41-9084-193cda046dc6
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetDataResponse'
              examples:
                default:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        facebook_private:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        tiktok_public__Social_Media__overview:
                          overview:
                            total_interactions: 0
                            total_contacts: 0
                            net_sentiment:
                            - name: null
                              value: 0
                        twitter_private:
                          overview:
                            total_interactions: 0
                            total_requests: 0
                            average_waiting_time: 0:00:00
                            total_people: 0
                            response_rate: 0
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                        linkedin_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        twitter_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        facebook_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        instagram_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        instagram_private:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                Social_Widget_Data:
                  value:
                    data:
                      dataAvailable: true
                      widget_data:
                        facebook_private:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        tiktok_public__Social_Media__overview:
                          overview:
                            total_interactions: 0
                            total_contacts: 0
                            net_sentiment:
                            - name: null
                              value: 0
                        twitter_private:
                          overview:
                            total_interactions: 0
                            total_requests: 0
                            average_waiting_time: 0:00:00
                            total_people: 0
                            response_rate: 0
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                        linkedin_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        twitter_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        facebook_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        instagram_public:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
                        instagram_private:
                          overview:
                            average_waiting_time: 0:00:00
                            net_sentiment:
                            - name: negative
                              value: 0
                            - name: positive
                              value: 0
                            - name: neutral
                              value: 0
                            response_rate: 0
                            total_interactions: 0
                            total_people: 0
                            total_requests: 0
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
          description: Gateway Timeout! It means the server tried to load the data or fulfill another
            request but it took too long and timed out
      servers:
      - url: https://api.lucidya.com
        description: Production Server
      x-internal: false
  /omnichannel/whatsapp/widget_data:
    post:
      tags:
      - Chats > Whatsapp
      summary: Create WhatsApp Public Widget Data
      description: 'Use this endpoint to create a request for WhatsApp public widget names and get the
        `job_id` to [get widgets analysis for the channel](https://docs.lucidya.com/docs/omnichannel-api/iz3fp38j5s3dw-get-whats-app-public-widget-data).


        <!-- theme: info -->

        > #### Note

        >

        > You can specify a maximum of **5 widget names** and apply a Unix date filter for **up to 30
        days**.

        '
      operationId: createWhatsappWidgetData
      parameters:
      - name: luc-authorization
        in: header
        description: This is used to add the `API key` generated from your Lucidya account to authenticate.
        required: true
        schema:
          type: string
      - name: monitors_list
        in: query
        description: Use this to add monitors list ID(s) for the channel(s).
        required: true
        schema:
          type: array
          example: '[38605]'
        examples:
          default:
            value: '[38605]'
      - name: page_name
        in: query
        description: Use this to add the page name or source name, example in this endpoint, `WHATSAPP`.
        required: true
        schema:
          type: string
          example: whatsapp
        examples:
          default:
            value: whatsapp
      - name: data_source
        in: query
        description: Use this to add the data source name, example in this endpoint, `whatsapp`.
        required: true
        schema:
          type: string
          example: whatsapp
        examples:
          default:
            value: whatsapp
      - name: start_date
        in: query
        description: This is utilized to specify a `start_date` filter using the Unix format, for example,
          `1709164800`.
        required: true
        schema:
          type: integer
          example: '1714867200'
        examples:
          default:
            value: '1714867200'
      - name: end_date
        in: query
        description: This is utilized to specify an `end_date` filter using the Unix format, for example,
          `1710460799`.
        required: true
        schema:
          type: integer
          example: '1717027200'
        examples:
          default:
            value: '1717027200'
      - name: widgets_names
        in: query
        description: Use this to add widget names for the provided page name.
        required: true
        schema:
          type: array
          example: '           ["OverView", "ClientEngagements", "VolumeOvertime"]'
        examples:
          default:
            value: '           ["OverView", "ClientEngagements", "VolumeOvertime"]'
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
              examples:
                default:
                  value:
                    data:
                      job_id: b82dc0dd-1b7f-4545-bcb9-18b60b0070ac
                      widgets_names:
                      - OverView
                      - ClientEngagements
                      - VolumeOvertime
                WhatsApp_Widget_Data:
                  value:
                    data:
                      job_id: e570d2c0-c700-4892-be7f-d41b329716dd
                      widgets_names:
                      - OverView
                      - ClientEngagements
                      - VolumeOvertime
        '401':
          description: Unauthorized! Invalid authentication credentials or Failure of getting data due
            to in-active company.
          content:
            application/json:
              schema:
                type: object
              examples:
                Unauthorized:
                  value:
                    message: Invalid authentication credentials
        '503':
          description: Wrong request parameters.
          content:
            application/json:
              schema:
                type: object
              examples:
                Wrong_Parameter(s):
                  value:
                    error:
                      status: 503
                      detail: WRONG_REQUEST_PARAMETERS
        '504':
[...]
